/* تنسيق عام */
body {
    font-family: 'Arial', sans-serif;
    margin: 20px;
    color: #333;
    line-height: 1.6;
    background-image: url(futuristic-architecture-reflects-modern-design-vibrant-city-generated-by-ai.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
}

h1, h2 {
    text-align: center;
    color: #f7f7f7;
}
/* تنسيق النموذج */
form {
    max-width: 600px;
    margin: 0 auto 20px;
    padding: 20px;
    background: #c47f4373;
    backdrop-filter: blur(20px);
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.form-group {
    margin-bottom: 15px;
}

label {
    color: #fff;
    margin-right: 10px;
}

input {
    background-color: #fff6eb70;
    padding: 8px;
    width: calc(100% - 20px);
    margin-top: 5px;
    margin-bottom: 10px;
    border: 1px solid transparent;
    border-radius: 5px;
    font-size: 14px;
    box-sizing: border-box;
}
input:focus{
   outline: none;

}

button {
    background-color: #a0a0a0;
    color: #fff;
    border: none;
    padding: 10px 15px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    border: 1px solid transparent;
}

#submit-button{
    background-color: #c88d02;
}
#submit-button:hover{
    background-color: #ddae40;
}
#add-item:hover {
    background-color: transparent;
    border: 1px solid #a0a0a0;
}

/* تنسيق العناصر المضافة */
.item {
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-left: -10px;
}

.item label {
    flex: 1 1 30%;
}

.item input {
    width: 100%;
}

.remove-item {
    background-color: #dc3545;
    color: white;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.remove-item:hover {
    background-color: #c82333;
}

/* تنسيق النتائج */
#results {
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    background: #c47f4373;
    backdrop-filter: blur(20px);
}

.result-item{
    border: 1px solid transparent;
    padding: 15px;
    margin-bottom: 10px;
    border-radius: 5px;
    background-color: #bca38a;
}


.result-item h3 {
    margin-top: 0;
    color: #ffffff;
}

.result-item p {
    margin: 5px 0;
}
